* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --dark: #0d1312;
  --dark-grey: #0d1312bd;
  --light-background: #a0d0cc;
  --medium-background: #2c7f77;
  --white: #e7e9e9;
}


/* --- Grid view --- */

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  float: left;
  padding: 15px;
}
.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}


/* Likely the minimal device width ever */
@media only screen and (max-width: 240px) {
  body {
    border: 5px solid red;
  }
}

/* For tablets */
@media only screen and (min-width: 600px) {
  .col-t-1 {width: 8.33%;}
  .col-t-2 {width: 16.66%;}
  .col-t-3 {width: 25%;}
  .col-t-4 {width: 33.33%;}
  .col-t-5 {width: 41.66%;}
  .col-t-6 {width: 50%;}
  .col-t-7 {width: 58.33%;}
  .col-t-8 {width: 66.66%;}
  .col-t-9 {width: 75%;}
  .col-t-10 {width: 83.33%;}
  .col-t-11 {width: 91.66%;}
  .col-t-12 {width: 100%;}
}

/* For desktop */
@media only screen and (min-width: 768px) {
.col-d-1 {width: 8.33%;}
.col-d-2 {width: 16.66%;}
.col-d-3 {width: 25%;}
.col-d-4 {width: 33.33%;}
.col-d-5 {width: 41.66%;}
.col-d-6 {width: 50%;}
.col-d-7 {width: 58.33%;}
.col-d-8 {width: 66.66%;}
.col-d-9 {width: 75%;}
.col-d-10 {width: 83.33%;}
.col-d-11 {width: 91.66%;}
.col-d-12 {width: 100%;}
}

.row {
  margin: 5vh 0;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

/* --- */

.header {
  background-color: var(--light-background);
  color: var(--dark);
  text-align: center;
  font-weight: bold;
  padding: 15px;
}
.header h4{
  color: var(--dark-grey);
}

.content {
  padding: 15px;
}
/* responsive layout - tablet and mobile phone */
@media only screen and (max-width: 768px) {
  .content {margin-left: 8.33%; /* 1 column */}
}
/* responsive layout - desktop */
@media only screen and (min-width: 768px) {
  .content {margin-left: 16.66%; /* 2 columns */}
}


.navbar {
  background-color: var(--dark);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  margin-bottom: 5vh;
}
.navbar-elt {
  padding: 10px;
  margin: 0 5px;
  text-align: center;
  text-decoration: none;
  color: var(--white);
}
.navbar-elt:hover {
  background-color: var(--medium-background);
}
/* responsive layout - navbar on side instead of on top */
@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
}


.illustration {
  margin: 0;
  padding: 0;
}
.illustration img {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}
/* responsive layout - tablet and mobile phones */
@media only screen and (max-width: 768px) {
  .illustration {
    margin-left: 8.33%; /* 1 column */
  }
}

.img-license {
  text-align: right;
  font-size: 0.7rem;
}

